.main-container {
  margin-top: 20px;
}

.select-container {
  margin-bottom: 20px;
}

.search-card {
  height: 100%;
  display: flex;
  border: 1px solid #0d3b66;
  /* text-align: left; */
}

.search-card-body {
  display: flex;
  align-items: center;
}

.search-card-body img {
  margin-right: 15px;
  width: 50px;
}

.card-container {
  text-align: left;
}

.card-title {
  color: #0d3b66;
}

.card-text {
  font-size: 14px;
  color: #414141;
}

.card-numb{
  font-size: 13px;
}

.card-div {
  display: flex;
  justify-content: space-between;
}
