.companyContainer {
  margin: 2rem 3rem;
  padding: 3rem 0rem;
  background-color: #0d3b66;
  border-radius: 3rem;
}

.companyText {
  color: #d2ab67;
  /* color: #d2ab67; */
  font-size: 30px;
}

.description {
  padding: 1rem 15rem;
  color: #ffffff;
  font-size: 18px;
}
