.hero-image2 {
  width: 100%;
}

.product2Text {
  font-size: 18px;
  color: white;
}

.product2TextContainer {
  border-radius: 3rem;
  background-color: #d2ab67;
}

.product2-image {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.product2TextHeading {
  font-size: 18px;
  font-weight: 600;
  padding: 0.6rem 0rem 0.3rem 0rem;
}

.product2TextDescription {
  font-size: 14px;
}

.block-main-product2 {
  min-width: 140px;
}

.product2-image-text {
  position: absolute;
  top: 23%;
  left: 8%;
  color: white;
  width: 25%;
  text-align: left;
}

.product2-image-subtext {
  font-size: 1.2rem;
}

.product2-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}

.product2-container {
  padding: 0rem 3rem;
}

.block-container-product2 {
  justify-content: center;
  gap: 3rem 9rem;
  padding: 0rem 7rem;
}

@media only screen and (max-width: 1200px) {
  .hero-image2 {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 70% center;
  }

  .product2-image-text {
    top: 15%;
    left: 20%;
    width: 25%;
  }

  .product2Text {
    font-size: 16px;
  }

  .block-container-product2 {
    gap: 3rem 7rem;
    padding: 0rem 7rem;
  }
}

@media only screen and (max-width: 992px) {
  .hero-image2 {
    object-position: 65% center;
  }

  .product2-image-text {
    left: 10%;
    width: 30%;
  }

  .product2Text {
    padding: 2rem 1rem !important;
  }

  .block-container-product2 {
    gap: 3rem 6rem;
    padding: 0rem 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .product2-image-text {
    left: 7%;
    width: 35%;
  }

  .hero-image2 {
    object-position: 60% center;
  }

  .product2-image {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 0rem;
  }

  .block-container-product2 {
    gap: 2rem 4rem;
    padding: 0rem 5rem;
  }

  .block-main-product2 {
    min-width: 150px;
  }
}

@media only screen and (max-width: 576px) {
  .product2-image-text {
    top: 33%;
    left: 5%;
    width: 42%;
  }

  .hero-image2 {
    object-position: 63% center;
  }

  .product2-image-subtext {
    font-size: 17px;
  }

  .product2Text {
    font-size: 14px;
  }

  .product2TextContainer {
    border-radius: 2rem;
  }

  .product2-image {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .product2Text {
    padding: 1rem 1rem !important;
  }

  .product2-container {
    padding: 0rem 2rem;
  }

  .block-main-product2 {
    min-width: 80px;
    margin-bottom: 1rem !important;
  }

  .block-container-product2 {
    gap: 2rem 4rem;
    padding: 0rem 3rem;
  }

  .block-main-product2 {
    max-width: 130px;
  }

  .product2TextHeading {
    font-size: 16px;
  }

  .product2TextDescription {
    font-size: 12px;
  }
}

@media only screen and (max-width: 420px) {
  .block-container-product2 {
    gap: 2rem 2rem;
    padding: 0rem 2rem;
  }

  .block-main-product2 {
    max-width: 120px;
  }

  .product2TextHeading {
    font-size: 15px;
  }
}
