.hero-image {
  width: 100%;
}

.product3Text {
  background-color: #d2ab67;
  border-radius: 3rem;
  font-size: 18px;
  color: white;
}

.product3-image {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.product3TextHeading {
  font-size: 18px;
  font-weight: 600;
  padding: 0.6rem 0rem 0.3rem 0rem;
}

.product3TextDescription {
  font-size: 14px;
}

.product3-image-text {
  position: absolute;
  top: 23%;
  left: 8%;
  color: white;
  width: 22%;
  text-align: left;
}

.product3-image-subtext {
  font-size: 1.2rem;
}
