.carousel-container {
  /* height: 100vh; Set height to viewport height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.carousel-item1-image,
.carousel-item2-image,
.carousel-item3-image {
  width: 100%;
}

.carousel1-text-container {
  position: absolute;
  top: 20%;
  left: 9%;
  color: white;
  width: 24%;
  text-align: left;
}

.carousel1-text-heading {
  font-size: 2.3rem;
}

.carousel1-text-desc {
  font-size: 1.2rem;
}

.carousel2-text-container {
  position: absolute;
  top: 25%;
  left: 14%;
  color: black;
  width: 30%;
  text-align: left;
}
.carousel2-text-heading {
  font-weight: 700;
  font-size: 2.3rem;
}

.carousel2-text-desc {
  font-size: 1.2rem;
}

.carousel3-text-container {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  width: 30%;
  text-align: left;
}

.carousel3-text-heading {
  font-weight: 700;
  font-size: 2.3rem;
}

.carousel3-text-desc {
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
  .carousel-item1-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 40% center;
  }

  .carousel1-text-container {
    top: 60%;
    left: 10%;
    width: 24%;
  }

  .carousel1-text-heading {
    font-size: 2rem;
  }

  .carousel1-text-desc {
    font-size: 1rem;
  }

  .carousel-item2-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 60% center;
  }

  .carousel2-text-container {
    top: 25%;
    left: 15%;
    width: 24%;
  }

  .carousel2-text-heading {
    font-size: 2rem;
  }

  .carousel2-text-desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {

  .carousel-item1-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 40% center;
  }
  .carousel1-text-container {
    top: 60%;
    left: 12%;
    width: 30%;
  }

  .carousel1-text-heading {
    font-size: 1.8rem;
  }

  .carousel1-text-desc {
    font-size: 0.9rem;
  }

  .carousel-item2-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 60% center;
  }
  .carousel2-text-container {
    top: 25%;
    left: 15%;
    width: 24%;
  }

  .carousel2-text-heading {
    font-size: 1.8rem;
  }

  .carousel2-text-desc {
    font-size: 0.9rem;
  }

}

@media only screen and (max-width: 768px) {

  .carousel-item1-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 40% center;
  }

  .carousel1-text-container {
    top: 63%;
    left: 12%;
    width: 34%;
  }

  .carousel1-text-heading {
    font-size: 1.4rem;
  }

  .carousel1-text-desc {
    font-size: 0.8rem;
  }

  .carousel-item2-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 60% center;
  }

  .carousel2-text-container {
    top: 27%;
    left: 13%;
    width: 26%;
  }

  .carousel2-text-heading {
    font-size: 1.4rem;
  }

  .carousel2-text-desc {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {

  .carousel-item1-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 40% center;
  }

  .carousel1-text-container {
    top: 64%;
    left: 12%;
    width: 50%;
  }

  .carousel-text-h1eading {
    font-size: 1.3rem;
  }

  .carousel1-text-desc {
    font-size: 0.8rem;
  }

  .carousel-item2-image {
    width: 100%;
    height: 97lvh;
    object-fit: cover;
    object-position: 58% center;
  }

  .carousel2-text-container {
    top: 52%;
    left: 12%;
    width: 34%;
  }

  .carousel2-text-heading {
    font-size: 1.3rem;
  }

  .carousel2-text-desc {
    font-size: 0.8rem;
  }
}
