.carousel-container {
  /* height: 100vh; Set height to viewport height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.carousel-item img {
  width: 100%;
}

.carousel-text1 {
  position: absolute;
  top: 20%;
  left: 8%;
  color: white;
  width: 25%;
  text-align: left;
}

.carousel-text2 {
  position: absolute;
  top: 25%;
  left: 14%;
  color: black;
  width: 30%;
  text-align: left;
}
.carousel-text2 > h2{
  font-weight: 700;
}

.carousel-text3 {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  width: 30%;
  text-align: left;
}

.carousel-text3 > h5{
  font-weight: 700;
}
